@import "../node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

body {
	background-color: #f5f5f5;
	color: #101010;
	user-select: none;
	font-family: "Lora", serif;
	font-size: 1.25em;
	text-align: center;
	padding-left: calc(100vw - 100%);
	overflow-x: hidden;
}

#container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	max-width: 33vw;
	min-width: 512px;
	margin: 0 auto;
}

#listLabel {
	padding-top: 2em;
}

#listLabelSpan {
	font-size: 0.8em;
}

#listTextarea {
	margin: 1em 0;
	width: 100%;
	min-height: 17.5em;
	height: 17.5em;
	padding: 0 0.5em;
	font-size: 0.8em;
}

input {
	display: block;
	width: 20%;
	margin: 0.5em auto 0;
	text-align: center;
	font-size: 0.8em;
}

p {
	display: inline-block;
	margin: 0;
}

#doIt {
	margin: 1em 0 1.75em;
	padding: 1em;
	font-size: 1.25em;
}

#copy,
#back {
	padding: 0.5em;
	margin-top: 3em;
	font-size: 0.8em;
}

#back {
	padding: 0.5em;
	font-size: 0.8em;
	margin-top: 1em;
	margin-bottom: 3em;
}

#pickList {
	width: 100%;
	margin: 0;
	font-size: 1.15em;
	user-select: text;
}

li {
	line-height: 1.5em;
}

.pick {
	display: none;
}

#pickHeader {
	font-size: 1.33em;
	padding: 0.25em 0 1em 0;
}

#pickSpan {
	padding: 0 0.25em;
	font-size: 1.33em;
}

#pickSingle {
	font-size: 1.25em;
	line-height: 1.5em;
	user-select: text;
	width: 100%;
}

a {
	color: black;
}

footer {
	padding-top: 1em;
	font-size: 0.8em;
}

.party {
	display: inline-block;
	animation-duration: 3000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: spin;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (orientation: portrait) {
	#container {
		min-width: 100%;
		width: 100%;
	}

	#listLabel {
		padding-top: 1.5em;
	}

	#listTextarea {
		width: 100%;
	}

	#doIt {
		padding: 0.25em 1em;
		margin-bottom: 1.5em;
	}

	#amount {
		margin-top: 1em;
	}

	#doIt,
	#copy,
	#back {
		margin-right: auto;
		margin-left: auto;
	}

	#copy {
		margin-top: 2.5em;
	}

	#back {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
}
